.container {
    font-family: 'Roboto', sans-serif; /* Using Roboto font for consistency */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 40px auto; /* Giving a bit more space on top and bottom */
    background-color: #fff; /* White background */
    border-radius: 10px; /* Rounded corners */
}

h1 {
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.container div {
    padding: 10px 0; /* A bit of vertical padding for better spacing */
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none; /* Removing default borders */
    border-radius: 5px; /* Rounded corners for buttons */
    transition: background-color 0.3s; /* Smooth background transition */
}

button:hover {
    opacity: 0.8; /* Slight fade on hover for a nice effect */
}

/* Styling the delete button with a more muted style */
button[caption="deleteTicket"] {
    background-color: #eee;
    color: #777;
}

/* Primary button for proceeding to checkout */
button[caption="checkout"] {
    background-color: #0077b6;
    color: #fff;
    margin-right: 10px;
}

/* Secondary button for updating the order */
button[caption="updateOrder"] {
    background-color: #f1f9ff; /* Light blue, same as the header */
    color: #0077b6;
}

.actions {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Center the buttons */
    gap: 15px; /* Creates space between the buttons */
}

hr {
    margin: 20px 0;
    border: none; /* Removing the default border */
    border-top: 1px solid rgba(0, 0, 0, 0.1); /* Adding a thin light line */
}
.totalOrderPrice h2
{
    margin-bottom: 0;
}